@use "./common/colors";
@use "./common/breakpoint";
@use  "./common/mixin";
@use "./common/common";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Zen+Kurenaido&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  
  min-width: 300px;
  @include mixin.mq(md){
    font-size: 14px;
  }
  @include mixin.mq(sm){
    font-size: 12px;
  }
  background-color: colors.$bgCream;
}

a { 
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: colors.$theme;
  color: colors.$white;
  display: flex;
  align-items: center;
  min-height: 20px;
  box-sizing: border-box;
  
}
main {
  height: calc(100vh -  65px);
  @include mixin.mq(md){
    margin-bottom: 55px;
  }
}