@import "colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Zen+Kurenaido&display=swap');
@import "_breakpoint.scss";
@import "_mixin.scss";
@import "_common.scss";


html,
body {
  padding: 0;
  margin: 0;
  
  min-width: 300px;
  @include mq(md){
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: $theme;
  color: $white;
  display: flex;
  align-items: center;
  min-height: 20px;
  box-sizing: border-box;
  
}